{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load spurl %}

{% block title %} Все фильмы {% endblock %}

{% block content %}

<form action="" id="movie_form" method="get">
    {{ form|crispy }}
    <button form="movie_form" type="submit">Отфильтровать</button>
</form>
<a href="{% url 'search' %}">Поиск</a>
<div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href='{% spurl path=request.get_full_path query=request.GET set_query="page=1" %}'> В начало</a>
            <a href='{% spurl path=request.get_full_path query=request.GET set_query="page={{ movies.previous_page_number }}" %}'> Назад</a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href='{% spurl path=request.get_full_path query=request.GET set_query="page={{ movies.next_page_number }}" %}'> Вперед</a>
            <a href='{% spurl path=request.get_full_path query=request.GET set_query="page={{ movies.paginator.num_pages }}" %}'> Последняя</a>
        {% endif %}
    </span>
</div>
<h2>Список всех фильмов</h2>
<ul>
    {% for movie in movies %}
    <li><a href="{{movie.get_url}}">{{movie}}</a></li>
    {% include "favorites/includes/add_to_favorites.html" with type="movie" id=movie.id %}
    {% include "favorites/includes/remove_from_favorites.html" with type="movie" id=movie.id %}
    {% endfor%}
</ul>
{% endblock %}