{% extends 'base.html' %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} {{movie}} {% endblock %}

{% block content %}
<ul>
    <h2>В главных ролях</h2>
    {% for actor in movie.actors.all|slice:":5" %}
    <li>
        <a href="{{actor.get_url}}">{{actor}}</a>
    </li>
    {% endfor %}
</ul>
<hr>
<div>Год производства: {{movie.year}}</div>
<div>Страна: {% for country in movie.countries.all %} {{country}} {% endfor %}</div>
<div>Композитор: <a href="{{movie.composer.get_url}}">{{movie.composer}}</a></div>
<div>Режиссер: <a href="{{movie.director.get_url}}">{{movie.director}}</a></div>
<div>Время действия:
    {% if movie.action < 0 %}
    {{ movie.action|abs }} ДБЯ
    {% else %}
    {{ movie.action }} ПБЯ
    {% endif %}
</div>
{% if movie.get_next %}
<div>Сиквел: <a href="{{movie.get_next.get_url}}">{{movie.get_next}}</a></div>
{% endif %}
{% if movie.get_prev %}
<div>Приквел: <a href="{{movie.get_prev.get_url}}">{{movie.get_prev}}</a></div>
{% endif %}
{% if movie.poster %}
<img src="{{ movie.poster.url }}" alt="" height="300" width="225">
{% endif %}

{% if movie.movie_feedback.all %}
<p>Все отзывы</p>
{% for feedback in movie.movie_feedback.all %}
<div>
    {{feedback.user}}: <a href="{{feedback.get_url}}">{{feedback.name}}</a> - {{feedback.body}}
</div>

{% endfor %}
{% else %}
<p>Пока что нет отзывов</p>

{% endif %}
{% if user.is_authenticated %}
    <div>
        <p>Добавить отзыв</p>
        <form action="" id="feedback_form" method="post">
            {%csrf_token%}
            {{ feedback|crispy }}
            <button form="feedback_form" type="submit">Добавить</button>
        </form>
    </div>

    <div>
        <p>Оценить</p>
        <form action="" id="rating_form" method="post">
            {%csrf_token%}
            {{ rating|crispy }}
            <button form="rating_form" type="submit">Добавить</button>
        </form>
    </div>
{% else %}
    <p>Чтобы добавить отзыв и поставить оценку, Вы должны быть <a href="{% url 'login' %}">авторизованы</a></p>
{% endif %}
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{movie.video_link}}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>
<div>
    <p>{{movie.price}}</p>
    <form action="{% url 'cart:cart_add' movie.slug %}" method="post">
        {%csrf_token%}
        {{cart|crispy}}
        <input type="submit" value="В корзину">
    </form>

</div>

{% endblock %}