<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block css_additional %}
    {% endblock %}
</head>
<body>
<header>
    <ul class="header-menu">
        <li class="navbar__menu-item"><a href="{% url 'main_page' %}">Go home</a></li>
        {% if user.is_authenticated %}
        <li class="navbar__menu-item"><a href="{{ user.profile.get_url }}">Hello {{user.username}}!</a></li>
        <li class="navbar__menu-item"><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        You are not logged in.
        <li class="navbar__menu-item"><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
        <li class="navbar__menu-item"><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}

        <div>
            {% with total_items=cart_context|length %}
            {% if cart_context|length > 0 %}
            В корзине:
            <a href="{% url 'cart:cart_detail' %}">
                {{total_items}} шт, {{cart_context.get_total_price}} руб
            </a>
            {% else %}
            Корзина пустая
            {% endif %}
            {% endwith %}
        </div>
    </ul>
    <hr>
</header>
<div class="content-block">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>