<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block css_additional %} {% endblock %}
</head>
<body>
<div>
    <header>
        <a href="{% url 'main_page' %}">Go home</a>
    </header>
    <div>
        {% if user.is_authenticated %}
        <p>Hi <a href="{{ user.profile.get_url }}">{{user.username}}</a>!</p>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'signup' %}">Зарегистрироваться</a>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </div>
    <div>
        {% with total_items=cart_context|length %}
        {% if cart_context|length > 0 %}
        В корзине:
        <a href="{% url 'cart:cart_detail' %}">
            {{total_items}} шт, {{cart_context.get_total_price}} руб
        </a>
        {% else %}
        Корзина пустая
        {% endif %}
        {% endwith %}
    </div>
    <hr>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>